<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="{{@blog.description}}">
<meta name="author" content="{{@blog.title}}">

<!-- Twitter Card -->
{{#if post}}
{{#post}}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{@tweetknak}}">
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="{{excerpt}}">
<meta name="twitter:creator" content="{{author.name}}">
<meta name="twitter:image:src" content="{{! TODO: ADD GRAVATAR URL HERE }}">

<meta property="og:type" content="article">
<meta property="og:title" content="{{@blog.title}}">
<meta property="og:description" content="{{excerpt}}">
<meta property="og:image" content="{{! TODO: ADD GRAVATAR URL HERE }}">
<meta property="og:site_name" content="{{@blog.title}}">
{{/post}}
{{else}}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="omfgitsasalmon">
<meta name="twitter:title" content="{{@blog.title}}">
<meta name="twitter:description" content="{{@blog.description}}">
<meta name="twitter:creator" content="{{@blog.title}}">
<meta name="twitter:image:src" content="{{! TODO: ADD GRAVATAR URL HERE }}">

<meta property="og:type" content="article">
<meta property="og:title" content="{{@blog.title}}">
<meta property="og:description" content="{{@blog.description}}">
<meta property="og:image" content="{{! TODO: ADD GRAVATAR URL HERE }}">
<meta property="og:site_name" content="{{@blog.title}}">
{{/if}}

<link rel="stylesheet" type="text/css" href="{{asset 'css/screen.css' }}" />
<link rel="shortcut icon" type="image/x-icon" href="{{ asset 'img/favicon.ico' }}">

<!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{{#if post}}
{{#post}}
<title>{{title}} | {{@blog.title}}</title>
{{/post}}
{{else}}
<title>{{@blog.title}}</title>
{{/if}}

{{ghost_head}}
</head>

<body class="{{body_class}}">
<div class="wrapper">

{{! Menu }}
{{#if post}}
<nav class="nav fixed">
{{else}}
<nav class="nav">
{{/if}}
    <!-- TODO: Knak logo goes here -->
    <a style="border:none;" id="logo" href="{{@blog.url}}"><img src="/assets/img/knak_logo.png" height="50" width="150"/></a>
    <ul class="nav-primary">
        {{! TODO: Add URLs here }}
        <!-- <li><a href="{{@blog.url}}">Home</a></li> -->
    </ul>
</nav>

{{! Everything else gets inserted here }}
{{{body}}}

<footer class="footer">
    <div class="back-to-top"><a href="">Back to top</a></div>
    <!-- <div class="footer-nav"><p></p></div> -->
    <div class="psi">&Psi;</div>
    <aside class="offsite-links">
        <!--TODO: Replace with social media images -->
        <a class="facebook-link" href="https://www.facebook.com/knakwithus/">Facebook</a> /
        <a class="twitter-link" href="https://twitter.com/tweetknak">Twitter</a> /
    		<a class="instagram-link" href="https://www.instagram.com/officialknak/">Instagram</a> /
        <a class="rss-link" href="{{ @blog.url }}/rss">RSS</a>

    </aside>
</footer>

</div> {{! End of wrapper }}

{{! Scripts }}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ asset 'js/fittext.js' }}"></script>
<script type="text/javascript" src="{{ asset 'js/app.js' }}"></script>
<script type="text/javascript" src="{{ asset 'js/respond.min.js' }}"></script>
<script type="text/javascript">
  var ga_ua = 'UA-72651959-2';

  (function(g,h,o,s,t,z){g.GoogleAnalyticsObject=s;g[s]||(g[s]=
      function(){(g[s].q=g[s].q||[]).push(arguments)});g[s].s=+new Date;
      t=h.createElement(o);z=h.getElementsByTagName(o)[0];
      t.src='//www.google-analytics.com/analytics.js';
      z.parentNode.insertBefore(t,z)}(window,document,'script','ga'));
      ga('create',ga_ua);ga('send','pageview');
</script>

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

</body>
</html>
