{{!< default}}
<div id="home">
    <div class="posts">
        <nav class="art-list">
          <ul class="art-list-body">
            {{#foreach posts }}
            <li class="art-list-item">
                <div class="art-list-item-title-and-time">
                    <h2 class="art-list-title"><a href="{{ @blog.url }}{{ url }}">{{ title }}</a></h2>
                    <div class="art-list-time">{{date published_at format="MMMM Do, YYYY"}}</div>
                    {{#if featured}}
                    <div class="art-list-time"><span style="color:#F40034;">&#10029;</span> Featured</div>
                    {{else}}{{/if}}
                </div>
                <div class="post-content">
                  {{content words="50"}}
                  <!--{{excerpt words="20"}}-->
                </div>
            </li>
            {{/foreach}}
          </ul>
        </nav>
    </div>
</div>

<footer class="footer">
{{pagination}}
