@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Questrial);

/* Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, cite, code, em, img, small, strong, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, embed, figure, figcaption, footer, header, hgroup, menu, nav, section, summary, time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, time, nav, section {
  display: block; }
html, body, .wrapper {
  min-height: 100%;
}


/* Body
================================================== */
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
}
body {
  overflow-x: hidden;
  font: 17px/28px ff-meta-serif-web-pro, "Georgia", serif;
  color: #333;
  background: #fff;
}


/* Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova", "helvetica neue", "helvetica", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 50px;
  padding-bottom: 30px;
}

h2 {
  font-size: 45px;
  padding-bottom: 25px;
}

h3 {
  font-size: 40px;
  padding-bottom: 20px;
}

h4 {
  font-size: 35px;
  padding-bottom: 15px;
}

h5 {
  font-size: 30px;
  padding-bottom: 10px;
}

p {
  margin: 0 0 28px 0;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
sup {
  line-height: 0;
}

small {
  font-size: 70%;
}

cite {
  font-size: 80%;
  font-style: italic;
  }

/* Teaser
================================================== */

header#teaser h1 {
  text-transform: none !important;
  color: #333;
  font-size: 28px !important;
  font-weight: 300 !important;
}


/* Links
================================================== */
a {
  color: #F40034;
  text-decoration: none;
  -webkit-transition: color .2s ease-in-out;
     -moz-transition: color .2s ease-in-out;
          transition: color .2s ease-in-out;
}
a:hover {
  color: #F40034;
}

/*  Layout
================================================== */
/* White container that is the "page" */
.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  background: #fff;
}

/* Containers to keep content to a set width */
.nav,
.art-header-inner,
.footer,
.art-list,
.abt,
.fourohfour {
  width: 980px;
}
.nav,
.art-body-inner,
.footer,
.art-list,
.abt,
.fourohfour {
  position: relative;
  margin: 0 auto;
}

/*  Nav
================================================== */
.nav {
  position: absolute;
  top: 0;
  left: 50%;
  height: 70px;
  padding-top: 40px;
  margin-left: -490px; /* Half width of nav */
  border-bottom: 1px solid #333;
  z-index: 2;
}
.nav.fixed {
  position: fixed;
}
#logo {
  float: left;
}
.nav-primary {
  float: right;
}
.nav-primary li {
  display: inline-block;
  margin-left: 10px;
  font-weight: 500;
}
#logo h1,
.nav-primary li,
.nav-primary li a {
  font-family: "proxima-nova", "helvetica neue", "helvetica", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

#logo h1 {
  height: 30px;
  margin-left: 0px;
  letter-spacing: 1px;
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
}

#logo h1 span{
  color: #F40034 !important;
}

.nav li:first-child {
  margin-left: 0; /* Remove left margin from the first nav li */
}

/* Home Page
================================================== */

div#home {}

#home > div.cover {
  max-width: 980px;
  margin: 0px auto;
  /*padding-top: 110px;*/
}

div.cover {

}

div.cover > img {
  width: 100%;
  height: 100%;
}


/*  Article
================================================== */
.art {
  margin-top: -131px;
}
/* Header */
.art-header {
  height: 900px;
  /* Background image is defined in the post */
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
}
/* Contains the time, title and subtitle for an article */
.art-header-inner {
  position: fixed;
  top: 300px;
  left: 50%;
  margin-left: -490px;
}
.art-time,
.art-title,
.art-subtitle {
  text-align: center;
  text-transform: uppercase;
}
.art-time {
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 4px;
}
.art-title {
  font-size: 100px;
  line-height: .9;
  letter-spacing: -2px;
  width: 100%;
}
.art-subtitle {
  margin-top: 4px;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 4px;
}

/* If small header, make few adjustments */
.small .art-title {
  font-size: 70px;
  line-height: 65px;
}
.small.art-header-inner {
  top: 320px;
}

/* Body */
.art-body {
  position: relative;
  width: 100%;
  background: #fff;
  z-index: 100;
  -webkit-box-shadow: 0 -3px 3px rgba(0,0,0,.2);
     -moz-box-shadow: 0 -3px 3px rgba(0,0,0,.2);
          box-shadow: 0 -3px 3px rgba(0,0,0,.2);
}
.art-body-inner {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  max-width: 640px;
  padding: 80px 0 50px;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.5;
}
.art-body-inner a:hover {
  border-bottom: 1px solid #F40034;
  padding-bottom:2px;
}
.art-body-inner ul,
.art-body-inner ol { /* For lists in the article body */
  margin-bottom: 26px;
}
.art-body-inner ul li {
  list-style: disc;
}

.art-body-inner mark {
    background-color: #fdffb6;
    padding: 2px;
    -webkit-box-shadow: #fdffb6 0 0 5px;
    -moz-box-shadow: #fdffb6 0 0 5px;
    box-shadow: #fdffb6 0 0 5px;
}

.art-body-inner blockquote {
  font-size: 16px;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.art-body-inner blockquote p:first-child:before {
  color: #ccc;
  content: "“";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.art-body-inner blockquote p {
  margin-bottom: 1.5em;
}

.art-body-inner blockquote p:last-child {
  margin-bottom: 0;
}


.dropcap { /* First character on articles */
  float: left;
  margin: 47px 10px 20px 0;
  font-size: 100px;
  line-height: 0;
}
.art-subhead { /* Subheads are used to break up sections of an article */
  margin: 60px 0 15px;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 3px;
}
.callout { /* Callouts are like large pullquotes */
  font-weight: bold;
}
.art-body-inner img {
  max-width: 100%;
  max-height: 600px;
  margin-bottom: 26px;
}
.art-body-inner img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.art-body-inner .art-reference {
  font-size: 80%;
  color: #999;
  margin-top: 50px;
}

/* For simple, white background posts */
.simple .art-body {
  background: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}


/*  List of Articles
================================================== */
.art-list {
  padding: 120px 0 0;
}
.art-list-body {
  position: relative;
  overflow: hidden;
}
.art-list-item {
  padding: 40px 0;
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.art-list-item:last-child {
  border-bottom: none;
}
.art-list-title {
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
}
/*Post Title and date below it */
.art-list-item-title-and-time {
  float: left;
  /*This is a comment*/
  /*width: 30%;*/
  margin-bottom: 10px;
}
.art-list-time {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #999;
}
.art-list-title a {
  color: #000;
}
.art-list-title a:hover {
  color: #F40034;
}
.art-list-item p {
  width: 65%;
  float: left;
  margin-left: 5%;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}


/*  Footer
================================================== */
.footer {
  padding: 30px 0 40px;
  overflow: hidden;
  border-top: 1px solid #ccc;
}
.footer,
.footer a {
  font-family: "proxima-nova", "helvetica neue", "helvetica", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #777;
}
.footer a:hover {
  color: #000;
}
.back-to-top,
.footer-nav,
.offsite-links {
  width: 45%;
  float: left;
}
.psi {
  width:10%;
  float:left;
  text-align: center;
}
.footer-nav {
  text-align: center;
}
.offsite-links {
  text-align: right;
}
.footer .twitter-link:hover {
  color: #0084B4;
}
.footer .instagram-link:hover {
  color: #3F729B;
}
.footer .github-link:hover {
  color: #c5376d;
}
.footer .caffein8-link:hover{
  color: black;
}
.footer .rss-link:hover {
  color: #e85d24;
}
/* Remove prev & next links on loop */
.art-list + .footer .footer-nav,
.abt + .footer .footer-nav {
  text-indent: -9999px;
  text-align: left;
}


/*  White Reverse Theme
================================================== */
/* Nav */
.nav.white  {
  border-bottom-color: #fff;
  border-bottom-color: rgba(255,255,255,.3);
}
.nav.white li a,
.nav.white li,
.nav.white #logo h1 {
  color: #fff;
  text-shadow: 0 0 8px rgba(0,0,0,.5);
}
.nav.white #logo h1 {
  background-position: top center;
}

nav.pagination{
	text-align: right;
	padding-bottom: 25px;
}
/* Art header */
.art-header.white {
  background-color: #111;
}
.art-header.white .art-time,
.art-header.white .art-title,
.art-header.white .art-subtitle {
  color: #fff;
  text-shadow: 0 0 8px rgba(0,0,0,.5);
}


/*  About page
================================================== */
.abt {
  padding: 200px 0 100px;
  list-style: none;
}
.abt .abt-header {
  font-size: 140px;
  line-height: 1;
  text-transform: none;
}
.abt .abt-subheader {
  font-size: 24px;
  font-style: italic;
  text-transform: none;
  color: #777;
}
.abt-body {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  margin-bottom: 28px;
}
.abt-signoff {
  line-height: 1.3;
  font-style: italic;
  color: #777;
}

/*  404 page
================================================== */
.fourohfour {
  padding: 240px 0 100px;
  text-align: center;
}

/*  Code
================================================== */

code, tt {
background: #ededee;
color: #3C4043;
font-size: 90%;
padding: 1px 3px;
}

pre {
  width: 92%;
  overflow: auto;
  margin: 2rem 0;
  padding: 1rem 0.8rem 1rem 1.2rem;
  color: #3f3b36;
  border: 1px solid #ccc;
  border-left: 1rem solid #ccc;
  font: lighter 1.2rem/2rem monospace;
  background: url(/assets/img/pre.png) repeat 0 -0.9rem;
  background-size: 1px 4rem;
}

pre code, tt {
font-size: inherit;
white-space: -moz-pre-wrap;
white-space: pre-wrap;
background: transparent;
border: none;
padding: 0;
}


.gist {
	font-size: 14px;
}


/*  Responsive
================================================== */
@media only screen and (max-width: 1080px) {
  /* Set all of the 980 containers to flexible width */
  .nav,
  .art-body-inner,
  .art-header-inner,
  .footer,
  .art-list,
  .abt,
  .fourohfour {
    width: 90%;
  }
  .nav,
  .art-header-inner {
    margin-left: -45%;
  }
}

@media only screen and (max-width: 1024px) {
  /* Everything becomes scrolling and non-fading */
  .nav,
  .nav.fixed {
    position: relative;
    opacity: 1 !important; /* Important to override JS values */
    display: inline-block;
  }
  .art-header-inner {
    position: relative;
    top: 0 !important; /* Important to override JS values */
    margin-top: 240px !important; /* Important to override JS values */
    opacity: 1 !important; /* Important to override JS values */
  }
  /* Articles no longer have fixed heights */
  .art-header {
    height: auto;
    padding-bottom: 100px;
    background-size: cover !important;
    background-attachment: scroll;
  }
  /* Remove bottom space out if articles doesn't have a background */
  .simple .art-header {
    padding-bottom: 0;
  }
  .art-list {
    padding-top: 0;
  }
  .abt {
    padding: 40px 0;
  }
  .fourohfour {
    padding: 80px 0 60px;
  }
}

@media only screen and (max-width: 780px) {
  .art-body-inner ul,
  .art-body-inner ol {
    margin-left: 20px;
  }
  .art-title {
    letter-spacing: 0;
  }
  .art-subtitle,
  .art-time {
    font-size: 12px;
  }
  .nav {
    padding-top: 25px;
    height: 55px;
  }
  .art-list-item-title-and-time,
  .art-list-item p {
    float: none;
    width: auto;
    margin-left: 0;
  }
  .abt-body {
    -moz-column-count: 1;
    -webkit-column-count: 1;
  }
}

@media only screen and (max-width: 500px) {
  .nav-primary li {
    margin-left: 10px;
  }
  .nav #logo h1 {
    font-size: 16px;
    letter-spacing: -1px;
  }
  .nav li a {
    font-size: 12px;
  }
  .art-header {
    padding-bottom: 50px;
  }
  .art-header-inner {
    margin-top: 190px !important;
  }
  .art-body-inner {
    padding-top: 30px;
  }
  body {
    font-size: 15px;
    line-height: 24px;
  }
  p {
    margin-bottom: 24px;
  }
  .footer {
    padding: 10px 0 20px;
  }
  .back-to-top,
  .footer-nav {
    width: 50%;
  }
  .back-to-top {
    text-align: left;
  }
  .footer-nav {
    text-align: right;
  }
  .offsite-links {
    float: left;
    width: 100%;
    text-align: left;
  }
  .offsite-links a {
    font-size: 12px;
  }
  .art-list + .footer .footer-nav {
    display: none;
  }
  .abt .abt-header {
    font-size: 80px;
  }
  .abt .abt-subheader {
    font-size: 18px;
  }
}


/*  Misc
================================================== */
::selection {
  background: #000;
  color: #fff;
}
::-moz-selection {
  background: #000;
  color: #fff;
}
img.left {
  float: left;
  margin-right: 20px;
}
img.right {
  float: right;
  margin-left: 20px;
}
/* Clearfixing pile */
.nav:before,
.art-body-inner:before,
.footer:before,
.art-list:before {
  content:"";
  display:table;
}
.nav:after,
.art-body-inner:after,
.footer:after,
.art-list:after {
  clear:both;
}
.nav,
.art-body-inner,
.footer,
.art-list {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}


@-webkit-keyframes le-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes le-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.art-header-inner {
  -webkit-animation: le-fade .5s 0 1 ease-out;
  -moz-animation: le-fade .5s 0 1 ease-out;
}

.art-list,
.nav,
.abt,
.art-body {
  -webkit-animation: le-fade .5s 0s 1 ease-out;
  -moz-animation: le-fade .5s 0s 1 ease-out;
}

hr.featured-article {
    padding: 0;
    border: none;
    border-top: medium double #bbb;
    color: #bbb;
    text-align: center;
}
hr.featured-article:after {
    content: "✭ Featured Article ✭";
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 1.2em;
    padding: 0 0.6em;
    background: white;
}
